@model BankProjekt.Models.Credit

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Credit</h4>
    <hr />

    <dl class="dl-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <dt>
            @Html.DisplayNameFor(model => model.BankAccount.Number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BankAccount.Number)
        </dd>
        <hr />
        <dt>
            @Html.DisplayNameFor(model => model.Cash)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cash)
        </dd>
        <hr />
        <dt>
            @Html.DisplayNameFor(model => model.MoneyToPay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MoneyToPay)
        </dd>
        <hr />
        <dt>
            @Html.DisplayNameFor(model => model.MonthlyRepayment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MonthlyRepayment)
        </dd>
        <hr />
        <dt>
            @Html.DisplayNameFor(model => model.NumberOfMonthsLeft)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfMonthsLeft)
        </dd>
        <hr />
        <dt>
            @Html.DisplayNameFor(model => model.NumberOfMonths)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfMonths)
        </dd>
        <hr />
        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <hr />
        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>
    </dl>
    <h4 class="text-danger">@Html.ViewBag.Err</h4>
</div>
<p>
    
    @Html.ActionLink("Credit Payment", "CreditPayment", new { id = Model.Id }, new { type = "button" })
    <hr />
    @Html.ActionLink("Total Credit Payment", "TotalCreditPayment", new { id = Model.Id })
    <hr />
    @Html.ActionLink("Back to List", "Index")
</p>